html, body, button, textarea{
    background: #101010;
    color: #C0C0C0;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    background: #101010;
    color: #C0C0C0;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
button {
    position: relative;
    width: 120px;
    height: 40px;
    margin: 15px 0;
    border-radius: 5% / 10%;
    color: white;
    text-align: center;
    text-indent: .1em;
    /*background: #101010;*/
    color: #C0C0C0;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.square {
    height: 30px;
    width: 30px;  
    float: left;
    /*border-radius: 20% / 20%;*/
}
.container {
    display: grid;
    display: inline-grid;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 115px 115px 115px;
    background-color: #101010;
    padding: 10px;
  }
  .grid-item {
    background-color: #101010;
    border: 1px solid #101010;
    padding: 8px;
    font-size: 26px;
    text-align: center;
  }